@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 210 30% 20%;

    --card: 0 0% 100%;
    --card-foreground: 210 30% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 30% 20%;

    --primary: 210 100% 25%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96%;
    --secondary-foreground: 210 30% 20%;

    --muted: 210 30% 94%;
    --muted-foreground: 210 20% 50%;

    --accent: 210 70% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 30% 90%;
    --input: 210 30% 90%;
    --ring: 210 100% 25%;

    --radius: 1rem;
    
    --info-bg: 210 30% 94%;
    --info-text: 210 30% 30%;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 210 30% 10%;
    --foreground: 210 40% 98%;

    --card: 210 30% 15%;
    --card-foreground: 210 40% 98%;

    --popover: 210 30% 15%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 30% 20%;
    --secondary-foreground: 210 40% 98%;

    --muted: 210 30% 20%;
    --muted-foreground: 210 20% 65%;

    --accent: 210 70% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 30% 25%;
    --input: 210 30% 25%;
    --ring: 210 100% 50%;
    
    --info-bg: 210 30% 20%;
    --info-text: 210 30% 80%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
